extends layout
h3 Administration
block content
    div.row.padding-top
        div.col-xs-12.center-block
            span.very-large-button
                a.admin-links(href='edit-rules') Rules
        div.col-xs-12.center-block
            span.very-large-button
                a.admin-links(href='seasons') Seasons
    div.row
        div.col-xs-12.center-block
            span.very-large-button
                a.admin-links(href='prizes') Prizes
        div.col-xs-12.center-block
            span.very-large-button
                a.admin-links(href='users') Users

